#outerContainer
{
	padding-right: 120px;
	padding-left: 120px;
	margin-left: auto;
	margin-right: auto;
}

body
{
	margin: 0;
}

ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li 
{
    float: left;
}

li a 
{
    display: block;
    color: white;
    text-align: center;
    padding-left: 131px;
    padding-right: 131px;
    padding-top: 14px;
    padding-bottom: 14px;
    text-decoration: none;
}

li a:hover 
{
    background-color: #111;
}

h1
{
	font-size: 36px;
	font-weight: 600;
	text-align: center;
}

h2
{
	font-size: 26px;
	font-weight: 600;

}

.floatBox
{
	float: left;
	padding-right: 20px;
	width: 200px;
}

.floatBoxButton
{
	float: left;
	padding-right: 20px;
	width: 80px;
}

input
{
	padding-left: 12px;
	width: 200px;
	height: 35px;
	border-radius: 5px;
	border: 1px gainsboro solid;
	font-size: 12px;
}

#add
{
	width: 80px;
	height: 39px;
	border-radius: 5px;
	background-color: #3383FF;
	color: white;
	font-size: 14px;
}

small
{
	color: red;
	padding-left: 5px;
}

select
{
	width: 215px;
	height: 39px;
	background-color: white;
	border: 1px gainsboro solid;

}
.remove
{
	width: 215px;
	height: 39px;
	border-radius: 5px;
	border: 0.5px solid red;
	padding: 0px;
}

.remove:hover
{
	background-color: red;
}

span
{
	margin: 0px;
	font-weight: 100;
	font-size: 14px;
	color: red;
	width: 215px;
	height: 39px;
	line-height: 39px;
}

span:hover
{
	color:white;
}

.clearFloat
{
	clear:both;
}

table
{
	width: 100%;
}

.companyBox
{
	height: auto;
	width: 100%;
	margin-top: 15px;
}

.newsBox
{
	float: left;
	height: 300px;
	width: 210px;
	border: 2px solid gainsboro;
	margin: 10px;
}

.newsBox:hover
{
	border: 2px solid green;
}

.headerFormat
{
	padding-left: 10px;
}

img 
{
	width: 210px;
	height: auto;
}

p
{
	text-align: center;
	color: black;
}

a
{
	text-decoration: none;
}

.subSection
{
	float: left;
	height: auto;
	width: 50%;
}

.subSection > img
{
	height: 300px;
	width: 400px;
	align-content: center;
	display: block;
	margin-left: 200px;
}

.subSection > p
{
	font-size: 20px;
	text-align: left;
}

#addSpace
{
	margin-top: 40px;
}
